.advantage__container {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

.advantages__title {
	flex-basis: 50%;
	min-width: 480px;
}

.advantages__list {
	flex-basis: 50%;
}

.advantages__item {
	background-image: url('../image/Star.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 16px;
	padding-left: 32px;
	line-height: 130%;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.advantages__item:last-child {
	margin-bottom: 0;
}