.footer {
    margin-bottom: 40px;
}

.footer__container {
border-top: 2px solid #F8F8F8;
padding-top: 50px;

display: grid;
grid-template-columns: max-content 1fr max-content;
gap: 40px 126px;
grid-template-areas: 
"logo social contact"
"copyright . developer";
}

.footer__logo {
    grid-area: logo;
}
.footer__social {
grid-area: social;
display: flex;
gap: 24px;
justify-self: end;
}
.footer__contact {
    grid-area: contact
}
.footer__copyright {
    grid-area: copyright
}
.footer__developer {
    grid-area: developer
}
