.header {
    padding-top: 18px;
    padding-bottom: 18px;
}

.header__container {
    /* min-width: 1190px;
    margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header__button {
    background-color: transparent;
    border: 1px solid #232020;

}