.header {
    padding-top: 18px;
    padding-bottom: 18px;
}

.header__container {
    /* min-width: 1190px;
    margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.header__button {
    background-color: transparent;
    border: 1px solid #232020;

}

@media (max-width: 920px) {

.header__logo {
    width: 124px;
}

}