:root {
	--width-slide: 590px;
	--gap: 10px;
	--width-block: calc(50% - var(--gap) / 2);
	--padding: 50px;
}
html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	font-family: Inter, sans-serif;
	color: #232020;
	min-block-size: 320px;
	background-color: #ffffff;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
}

.container {
	max-width: 1190px;
	margin: 0 auto;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
	color: inherit;
}

.image {
	max-width: 100%;
	height: auto;
}

.button {
	display: inline-block;
	border: none;
	cursor: pointer;
	border-radius: 24px;
	padding: 18px 40px;
	color: #232020;
	/* font-size: 16px;
    line-height: 19px; */
	text-transform: uppercase;
	background-color: #FFC700;
}

.section-offset {
	padding-top: 40px;
	padding-bottom: 40px;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

/* .filling {
	width: 100%;
	height: 100%;
} */

.gray-block {
	background-color: #F8F8F8;
	border-radius: 12px;
	padding: var(--padding);
	min-height: 530px;

}

.title {
	font-weight: 500;
	font-style: 44px;
	line-height: 130%;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}

@media (max-width: 1240px) {
	:root {
    --padding: 30px;
	--width-slide: 440px;
	}
	.contaiter {
		max-width: 890px;
	}

	.section-offset {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.title {
		font-size: 34px;
	}

	.gray-block {
		min-height: 396px;
	}
}

@media (max-width: 920px) {
	:root {
		--padding: 24px;
		--width-slide: 311px;
	}
	.contaiter {
		max-width: 690px;
		padding: 0 30px;
	}

	.gray-block {
		min-height: 280px;
	}

	.button {
		padding: 10px 24px;
		font-size: 14px;
	}
}

@media (max-width: 560px) {
	:root {
		--padding: 20px;
		--gap: 4px;
	}
	.contaiter {
        padding: 0 6px;
	}

	.gray-block {
		min-height: 232px;
	}
	.title {
		font-size: 24px;
	}
	.button {
		font-size: 12px;
	}
}